.animlogo {
    animation-duration: 3s;
    animation-name: intro;
}
@keyframes intro {
    from {
        transform:scale(1000%)translateY(75%);
        margin-top: 2%;
    }
    to {
        
    }
}
