                                           * {
                                               margin: 0;
                                               padding: 0;
                                           }
                                           
                                            :root {
                                               font-family: 'Oxygen', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                               color: #222;
                                               background-color: #222;
                                               margin: 0;
                                               left: 0;                                               
                                           }
                                          
                                           body {
                                               color: #222;
                                               display: flex;
                                               flex-direction: column;
                                               flex-wrap: wrap;
                                               padding-right: 5%;
                                           }
                                           
                                           header {
                                               display: flex;
                                               top: 0;
                                               width: 100%;
                                               justify-content: center;
                                           }
                                           
                                           .qblock {
                                               margin: 2%;
                                           }
                                           
                                           a {
                                               color: #EEE;
                                           }
                                           
                                           ul {
                                               margin: 2%;
                                               padding-top: 1%;
                                           }
                                           
                                           h1 {
                                               color: #0c0;
                                               margin: 1%;
                                           }
                                           
                                           h2 {
                                               color: #8f8;
                                               margin: 2%;
                                               width: 95%;
                                           }
                                           
                                           h3 {
                                               color: #ccc;
                                           }
                                           
                                           label,
                                           p {
                                               color: #CCC;
                                           }
                                           

                                           
                                           #buttons {
                                               display: flex;
                                               padding-top: 5px;
                                               margin-top: 2%;
                                               width: 100%;
                                               justify-content: center;
                                           }
                                           
                                           form {}
                                           
                                           label {}
                                           
                                           li {
                                               color: #eee;
                                               margin: 1%;
                                               list-style: none;
                                           }
                                           
                                           input[type=submit] {
                                               padding: 0.1em;
                                               margin-left: 0.5rem;
                                               font-weight: bold;
                                               font-size: 0.85rem;
                                               padding: 0.1em;
                                               background-color: #8f8;
                                               width: 125px;
                                               height: 30px;
                                               border: none;
                                               outline: none;
                                               cursor: pointer;
                                               text-transform: uppercase;
                                               border-radius: 4px;
                                               transition: .6s;
                                           }
                                           
                                           input[type=submit]:hover {
                                               background-color: #0c0;
                                           }
                                           
                                           input[type=button]:hover {
                                               background-color: #0c0;
                                           }
                                           
                                           input[type=button] {
                                               margin-left: 0.5rem;
                                               padding: 0.1em;
                                               font-weight: bold;
                                               font-size: 0.85rem;
                                               background-color: #8f8;
                                               width: 125px;
                                               height: 30px;
                                               border: none;
                                               outline: none;
                                               cursor: pointer;
                                               text-transform: uppercase;
                                               border-radius: 4px;
                                               transition: .6s;
                                           }
                                           
                                           #homelinks {
                                               display: flex;
                                               justify-content: space-evenly;
                                           }

                                           #output {
                                               margin-top: 2%;
                                           }
                                           #qnum {
                                                display: flex;
                                                width: 100%;
                                                justify-content: center;
                                                margin-top: 2%;
                                              }
                                              input[type=text]{
                                                margin-left: 1%;
                                                height: 30px;
                                                font-weight:bold;
                                                width: 15%;
                                                text-align: center;
                                              }
                                              #qnum label{
                                                  padding-top: 5px;
                                              }
                                              #foot {
                                                  display: flex;
                                                  width: 100%;
                                                  justify-content: center;
                                                  margin-top: 2%;
                                                  padding-right: 5%;
                                              }
                                              #foot1 {
                                                display: flex;
                                                width: 100%;
                                                justify-content: center;
                                                margin-top: 2%;
                                            }
                                            #options {
                                                display: flex;
                                                padding-top: 2%;
                                                width: 100%;
                                                justify-content: center;
                                                margin-bottom: 4.5%;
                                            }
                                            #options label{
                                                transition: .6s;
                                                cursor: pointer;
                                                position: fixed;
                                                width: 40px;
                                                height: 40px;
                                                margin: 1%;
                                                transform: translateX(10px);
                                                background-image:url('/static/circle.png');
                                                background-size: 100% auto;
                                                background-repeat: no-repeat;
                                                text-align: center;
                                                padding-top: 10px;
                                                padding-bottom: 10px;
                                                cursor: pointer;
                                                
                                            }
                                            #options label:hover{
                                                color:#999;
                                                background-image:url('/static/circlehov.png');
                                            }
                                            #box{
                                                width: 50px;
                                                height: 20px;

                                            }
                                            
                                           input[type=checkbox] {
                                            width: 0;
                                            height: 0;
                                            visibility: hidden;
                                        }
