<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Answers</title>
</head>
<header>
    <h1>Cloud Practitioner Quiz</h1>
</header>
<main>
    <div class="qblock">
        <div id="answer">
            <p>Your Answer: {{ d }}</p>
            <p>Correct Answer: {{ c }}</p><br>
            <p>Link:
                <a href="{{ l }}">{{ l }}</a>
            </p><br>
            <p>Correct: {{ x }}</p>
        </div>
        <form action='/' method='GET'>
            <input type="submit" value="Next" />
        </form>
    </div>
</main>