<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <title>Cloud Quiz</title>
</head>
<script type="text/javascript">
        function checkBoxes() {
        let cans = '{{ c }}';
        if (document.getElementById('Ac').checked)
        {
            if (cans.includes("A")){
            document.getElementById('Acl').innerHTML = '✔'
            document.getElementById('Acl').style.color = 'green';
            } else {
                document.getElementById('Acl').innerHTML = '✖'
                document.getElementById('Acl').style.color = 'red';
            }
        } else {
            document.getElementById('Acl').innerHTML = 'A'
            document.getElementById('Acl').style.color = 'white'; 
        }        
        if (document.getElementById('Bc').checked)
        {
            if (cans.includes("B")){
            document.getElementById('Bcl').innerHTML = '✔'
            document.getElementById('Bcl').style.color = 'green';
            } else {
                document.getElementById('Bcl').innerHTML = '✖'
                document.getElementById('Bcl').style.color = 'red';
            }
        } else {
            document.getElementById('Bcl').innerHTML = 'B'
            document.getElementById('Bcl').style.color = 'white';
            
        }
        if (document.getElementById('Cc').checked)
        {
            if (cans.includes("C")){
            document.getElementById('Ccl').innerHTML = '✔'
            document.getElementById('Ccl').style.color = 'green';
            } else {
                document.getElementById('Ccl').innerHTML = '✖'
                document.getElementById('Ccl').style.color = 'red';
            }
        } else {
            document.getElementById('Ccl').innerHTML = 'C'
            document.getElementById('Ccl').style.color = 'white';
            
        }
        if (document.getElementById('Dc').checked)
        {
            if (cans.includes("D")){
            document.getElementById('Dcl').innerHTML = '✔'
            document.getElementById('Dcl').style.color = 'green';
            } else {
                document.getElementById('Dcl').innerHTML = '✖'
                document.getElementById('Dcl').style.color = 'red';
            }
        } else {
            document.getElementById('Dcl').innerHTML = 'D'
            document.getElementById('Dcl').style.color = 'white';
            
        }
        if (document.getElementById('Ec').checked)
        {
            if (cans.includes("E")){
            document.getElementById('Ecl').innerHTML = '✔'
            document.getElementById('Ecl').style.color = 'green';
            } else {
                document.getElementById('Ecl').innerHTML = '✖'
                document.getElementById('Ecl').style.color = 'red';
            }
        } else {
            document.getElementById('Ecl').innerHTML = 'E'
            document.getElementById('Ecl').style.color = 'white';
            
        }
        if (document.getElementById('Fc').checked)
        {
            if (cans.includes("F")){
            document.getElementById('Fcl').innerHTML = '✔'
            document.getElementById('Fcl').style.color = 'green';
            } else {
                document.getElementById('Fcl').innerHTML = '✖'
                document.getElementById('Fcl').style.color = 'red';
            }
        } else {
            document.getElementById('Fcl').innerHTML = 'F'
            document.getElementById('Fcl').style.color = 'white';
            
        }
    }
        function showAnswers() {
        var x = document.getElementById("hidden-answer");
        if (x.style.display == "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function randQuest() {
        document.getElementById('qn').value = Math.floor(Math.random() * 670) + 1;
    } 
</script>
<header>
    <h1>Cloud Practitioner Quiz</h1>
</header>
<main>
    <div class=qblock>
        <form action='/quiz' method='POST'>
            <h2>{{ q }}</h2>
            <ul>
                {%for i in range(0, 6)%}
                <li>
                    <h3>{{o[i]}}</h3>
                </li>
                {%endfor%}
            </ul>
            <span id="divider"></span>
            <span id="options"><span id='box'><label for='Ac' id="Acl">A</label><input type='checkbox' id='Ac' value='A' name='A' onclick=checkBoxes() /></span>
            <span id='box' ><label for='Bc' id="Bcl">B</label><input type='checkbox' id='Bc' value='B' name='B' onclick=checkBoxes() /></span>
            <span id='box'><label for='Cc' id="Ccl">C</label><input type='checkbox' id='Cc' value='C' name='C' onclick=checkBoxes() /></span>
            <span id='box'><label for='Dc' id="Dcl">D</label><input type='checkbox' id='Dc' value='D' name='D' onclick=checkBoxes() /></span>
            <span id='box'><label for='Ec' id="Ecl">E</label><input type='checkbox' id='Ec' value='E' name='E' onclick=checkBoxes() /></span>
            <span id='box'><label for='Fc' id="Fcl">F</label><input type='checkbox' id='Fc' value='F' name='F' onclick=checkBoxes() /></span>
            </span><span id="divider"></span><span id='buttons'><input type="submit" name="btn" value="Back" /><input type="button" onclick="showAnswers()" value="Link" /><input type="submit" name="btn" value="Random" onclick="randQuest()" /><br><input type="submit" name="btn" value="Next" />
                </span><span id='qnum'><label for="qn">Question #:</label><input type='text' id="qn" name='qn' value='{{ p }}'/></span>
            <span id="foot">
                <h3 id="output"></h3></span><span id="foot1">
            <div id="hidden-answer" style="display: none;">
                <br>
                <p>Correct Answer:
                    <span id="answerr">{{ c }}</span></p><br>
                <li id="correctans" value="{{ c }}"></li>
                <p>Link:
                    <a href=" {{ l }} ">{{ l }}</a>
                </p><br>
            </div>
            </span>
        </form>
    </div>
</main>