<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Cloud Quiz</title>
</head>
<script type="text/javascript">
    function checkAnswers() {
        let ans = ' ';
        if (document.getElementById("A").checked == true) {
            ans += 'A';
        }
        if (document.getElementById("B").checked == true) {
            ans += 'B';
        }
        if (document.getElementById("C").checked == true) {
            ans += 'C';
        }
        if (document.getElementById("D").checked == true) {
            ans += 'D';
        }
        if (document.getElementById("E").checked == true) {
            ans += 'E';
        }
        ans = ans.trim();
        let cans = '{{ c }}';
        if (ans == cans){
            document.getElementById('output').innerHTML = 'Correct!'
        } else {
            document.getElementById('output').innerHTML = 'Incorrect!'
        }
        setTimeout(() => { document.getElementById('output').innerHTML = ' '; }, 2000);
    }
    function showAnswers() {
        var x = document.getElementById("hidden-answer");
        if (x.style.display == "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function randQuest() {
        document.getElementById('qn').value = Math.floor(Math.random() * 670) + 1;
    }
</script>
<header>
    <h1>Cloud Practitioner Quiz</h1>
</header>
<main>
    <div class=qblock>
        <form action='/quiz' method='POST'>
            <h2>{{ q }}</h2>
            <ul>
                {%for i in range(0, 5)%}
                <li>
                    <h3>{{o[i]}}</h3>
                </li>
                {%endfor%}
            </ul>
            <span id="options"><label for='A'>A<input type='checkbox' id='A' value='A' name='A' /><span class="checkmark"></span></label>
            <label for='B'>B<input type='checkbox' id='B' value='B' name='B' /><span class="checkmark"></span></label>
            <label for='C'>C<input type='checkbox' id='C' value='C' name='C' /><span class="checkmark"></span></label>
            <label for='D'>D<input type='checkbox' id='D' value='D' name='D' /><span class="checkmark"></span></label>
            <label for='E'>E<input type='checkbox' id='E' value='E' name='E' /><span class="checkmark"></span></label>
            </span><span id='buttons'><input type="submit" name="btn" value="Back" /><input type="button" onclick="checkAnswers()" value="Check" /><input type="button" onclick="showAnswers()" value="Cheat" /><input type="submit" name="btn" value="Goto" /><br><input type="submit" name="btn" value="Next" />
                </span><span id='qnum'><label for="qn">Question #:</label><input type='text' id="qn" name='qn' value='{{ p }}'/><input type="button" onclick="randQuest()" value="Random" /></span>
            <h3 id="output"></h3>
            <div id="hidden-answer" style="display: none;">
                <br>
                <p>Correct Answer:
                    <span id="answerr">{{ c }}</span></p><br>
                <li id="correctans" value="{{ c }}"></li>
                <p>Link:
                    <a href=" {{ l }} ">{{ l }}</a>
                </p><br>
            </div>
        </form>
    </div>
</main>